<h1 class="text-center page-title">Edit Article</h1>
<%= render "articles/errors"%>
<%= render "articles/form"%>

<p class="text-center mt-2">
  <%= link_to "Back to All Articles", articles_path, class: "btn btn-outline-* ind-button" %> 
  <%= link_to "Delete Article", article_path(@article), class: "btn btn-outline-* ind-button", method: :delete, data: {confirm: "Are you sure?"} %>
</p>
