
<div class="container">
    <div class="jumbotron">
      <div class="d-flex justify-content-center ">
         <%= link_to "Join Up", "#", class: "btn btn-primary btn-lg join-button"%>
      </div>
    </div>
    <h3 class="text-center home-text">So Imagine waking up in a place like this...</h3>
</div>

