@import 'bootstrap/dist/css/bootstrap';

// General


body, .card-body, .card-header, .card-footer, {
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-index {
  margin-top : 20px;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
// Navbar 

.logo-name {
  font-size: 32px;
  /* margin: auto; */
  color: #ffab52 !important;
}

.nav-link {
  color: #ffab52 !important;
}
.btn {
  margin: 2px;
  border: 2px solid #ffab52;
  color: #ffab52;
}
.btn:hover {
  border: 2px solid #343A40;
  color: #343A40;
  background: #ffab52;
}
.nav-link {
  background: transparent;
}

// Footer
#sticky-footer {
  html,
    body {
      height: 100%;
      
    }

    #page-content {
      flex: 1 0 auto;
    }

    #sticky-footer {
      flex-shrink: none;
    }

    /* Other Classes for Page Styling */

    body {
      background: transparent;
    }
    .footer-text {
      color: #343A40;
    }
}

// Home Page
.jumbotron {
  margin-top: 20px;
  background-image: asset-url("wow.png");
  background-position: center center;
  min-height: 600px;
  border-radius: 10px;
}

.join-button {
  position: absolute;
  bottom: 250px;
  margin:0 auto;
  background: transparent;
}

.home-text {
  color: #343A40;
}

// ARTICLES

.card-shell {
  background-image: asset-url("wow.png");
}

.card-header {
  color: #343A40;
}

.card-block {
  border: 2px solid #343A40;
  // border-radius: 20px;
}
.card-title-index, .card-text-index, .footer-text-index {
  color: #343A40;
}
.footer-text-index {
  font-style: italic;
}

.ind-button {
  color: #343A40;
  border: 2px solid #343A40;
}
.ind-button:hover {
  color: #ffab52;
  background: #343A40;
  border: 2px solid #ffab52;

}

// Articles Show Page

.object-color {
  color: #343A40;
}
.show-panel {
  margin-top: 20px;
}

.show-card {
  background: #343A40;
  h1, p {
    color: #ffab52 !important;
  }
  .show-button {
    color: #ffab52;
    border: 2px solid #ffab52;
  }
  .show-button:hover {
    color: #343A40;
    border: 2px solid #343A40;
    background: #ffab52;
  }
}

//THE FORMS
.form-decoration {
  border: 2px solid #ffab52;
  background: #343A40;
  color: #ffab52;
}
  

.form-group {
  margin-right: 15px ;
  margin-left: 15px ;
}
// Place Holder text Styling 

.form-control:focus{
  background: #343A40;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffab52 !important;
    background: #343A40;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffab52;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffab52;
  }
