<footer id="sticky-footer" class="footer">
    <div class="container text-center">
      <small>Copyright &copy;<%= link_to "Vincent Walker", "https://vincethewalker.com", class: "text-dark"%> 2020</small>
    </div>
  </footer>